.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: "h h" "n c";
  margin-top: 1em;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 2fr 10fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  /* grid-gap: 10px; */
}




